@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.Background {
  background: linear-gradient(to top, black, #34495e);
}
.Active {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.Each::-webkit-scrollbar {
  display: none;
}

.Blur {
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(1.2px);
  -webkit-backdrop-filter: blur(1.2px);
  padding: 10px;
}
.Design
{
  background: linear-gradient(45deg, #8A2387 , #E94057 , #F27121)
}